* {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  .body {
    background-color: hsl(216, 19%, 11%);
    font-family: "Kanit", sans-serif;
    color: #ffffff;
    margin: 0;
  }
  .header {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #101010;
    justify-content: space-between;
  }
  .header_logo {
    width: 100%;
    height: 50px;
  }
}
