* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.body {
  background-color: white;
  font-family: "Kanit", sans-serif;
  color: #000000;
  margin: 0;
}
.header {
  height: 250px;
  display: flex;
  justify-content: center;
}
.header_bg {
  width: 100%;
}
.header_div {
  position: absolute;
}
.header_logo {
  height: 250px;
}
